#!/bin/bash
#SBATCH --job-name=cuda-repro
#SBATCH --output=cuda-repro-%j.log
#SBATCH --nodes=1 --ntasks=1 --cpus-per-task=1
#SBATCH --mem=<%= resources$memory %>
#SBATCH --time=<%= resources$walltime %>
<% if (resources$use_gpu) { %>
   #SBATCH --partition=gpu
   #SBATCH --gres=gpu:1
   <% } %>
   
. /etc/profile.d/z00-lmod-profile.sh
module load r-rocker-ml-verse/4.4.3_cuda12.8.1+apptainer

Rscript --no-restore --no-save \
    -e '.libPaths(c(file.path(path.expand("~"), "R/x86_64-pc-linux-gnu-library/4.4-rocker"), .libPaths()))' \
    -e 'batchtools::doJobCollection("<%= uri %>")'
